node_modules/
dist/
out/
*.vsix
.vscode-test/
*.js.map
*.d.ts.map
.DS_Store
*.tgz
planning-docs/

# Ignore .github contents except workflows and actions
.github/*
!.github/workflows/
!.github/actions/
